/*VARIABLES*/
html{
    --mobile-width:80%;
    --max-width:1100px;
    --default-shadow:0px 0px 20px 5px rgba(0,0,0,0.1);
}

/*GLOBAL STYLING*/
html{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding: 0;
    margin: 0;

}

li{
    list-style: none;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

/*SECTION STYLING*/
header{
    background-color: #96b011;
    text-align: center;
    color: white;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: contain;
}

.specialOffer{
    padding: 10px;
}

.main{
    background-color: #f2f2f2;
    padding: 30px 0 30px 0;
}

.wrapper{
    width: var(--mobile-width);
    max-width: var(--max-width);
    margin: 0 auto;
}

.content{
    padding: 10px;
    position: relative;
}

.content-title{
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Amaranth', sans-serif;
}

footer{
    background-color: #96b011;
    text-align: center;
    color: white;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: contain;
}

/*HEADER STYLING*/
.logo{
    width: unset;
}

.cart-info{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

header nav ul{
    padding: 20px;
}

header nav li{
    padding: 15px 15px 15px 15px;
    border-radius: 1em;
    transition: all 0.3s;
}

header nav li:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 1em;
}

/*CART COMPONENTS*/
.cart{
    opacity: 0.5;
    transition: all 0.2s;
}

.cart:hover{
    opacity: 1;
    cursor: pointer;
}

/*FOOTER NAVIGATION STYLING*/
.footerNav{
    padding: 20px;
}

.footerNav ul li{
    padding: 15px;
    opacity: 0.7;
    transition: all 0.3s;
    user-select: none;
}

.footerNav ul li:hover{
    opacity: 1;
    cursor: pointer;
}


/*TEXT STYLING*/
.text-caps{
    text-transform: uppercase;
}

.text-bold{
    font-weight: bold;
}

.text-white{
    color: white;
}

.text-small{
    font-size: 0.8em;
}

/*BACKGROUND COLORS*/
.bg-white{
    background-color: white;
}

.bg-red{
    background-color: #e26a6a;
}

.bg-yellow{
    background-color: #f4b350;
}

.bg-cyan{
    background-color: #4ecdc4;
}

.bg-green{
    background-color: #b0c44c;
}

.bg-dark-green{
    background-color: #879e0f;
}

/*SHADOWS STYLING*/
.shadow{
    box-shadow: var(--default-shadow);
}

/*SMALL PRODUCT COMPONENT STYLING*/
.product-small-container:hover .product-small{
    opacity: 0.5;
    transition: all 0.2s;
}

.product-small.product-small-thumbnail:hover{
    color:unset;
    opacity: 1;
    cursor: pointer;
}

.product-small{
    margin: 0 auto;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}

.product-small img{
    width: 60%;
    margin: 0 auto;
}

/*PRODUCT COMPONENT STYLING*/
.product{
    width: 100%;
    padding-bottom: 10px;
    box-shadow: var(--default-shadow);
    cursor: pointer;
}

.product + .product{
    margin-top: 20px;
}

.product-title{
    color: white;
    padding: 10px;
    font-family: 'Amaranth', sans-serif;
}

.product-title i{
    padding-right: 10px;
}

.product-details{
    text-align: center;
}

/*SERVICES STYLING*/
.services-features{
    padding: 20px;
    user-select: none;
}

.services-features li{
    padding: 10px;
    opacity: 0.7;
    transition: all 0.2s;
}

.services-features i{
    display: block;
}

.services-features li:hover{
    opacity: 1;
    cursor: pointer;
}

/*DISPLAY OPTIONS*/
.display-desktop{
    display: none;
}

@media only screen and (min-width : 800px){
    .display-desktop{
        display: block;
    }

    .flex-container{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .flex-container-middle{
        align-items: center;
    }

    .product{
        width: 30%;
    }

    .product + .product{
        margin-top: 0;
    }

    .product-small img{
        width: 80%;
    }

    header nav ul{
        padding: 10px;
    }

    .footerNav ul li{
        padding: 5px;
        border-radius: 1em;
        transition: all 0.3s;
    }

    .content-title{
        position: absolute;
        top: 50px;
        opacity: 0.8;
        transition: all 0.2s;
    }

    .content-title:hover{
        opacity: 1;
        cursor: pointer;
    }
}
